apiVersion: v1
kind: Secret
metadata:
  name: argocd-redis
  namespace: argocd
stringData:
  auth: ref+sops:///nix/store/fvdbpgqn25h8fg1kfd2cfq2l5r57jhqv-k8s-secrets.enc.yaml#argocd-redis
type: Opaque
