apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/instance: envoy
    app.kubernetes.io/name: gateway-helm
  name: envoy-gateway-helm-cluster-infra-manager
rules:
  - apiGroups:
      - ""
    resources:
      - serviceaccounts
      - services
      - configmaps
    verbs:
      - create
      - get
      - list
      - delete
      - deletecollection
      - patch
  - apiGroups:
      - apps
    resources:
      - deployments
      - daemonsets
    verbs:
      - create
      - get
      - delete
      - deletecollection
      - patch
  - apiGroups:
      - autoscaling
      - policy
    resources:
      - horizontalpodautoscalers
      - poddisruptionbudgets
    verbs:
      - create
      - get
      - list
      - delete
      - deletecollection
      - patch
  - apiGroups:
      - certificates.k8s.io
    resources:
      - clustertrustbundles
    verbs:
      - list
      - get
      - watch
  - apiGroups:
      - authentication.k8s.io
    resources:
      - tokenreviews
    verbs:
      - create
