apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: argocd
  namespace: argocd
spec:
  hostnames:
    - argocd.json64.dev
  parentRefs:
    - name: default-gateway
      namespace: kube-system
  rules:
    - backendRefs:
        - name: argocd-server
          port: 80
