apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: mariadb-17.11.16
    app.kubernetes.io/instance: romm
    app.kubernetes.io/name: mariadb
    helm-revision: "1"
    release: romm
  name: romm-mariadb-data
  namespace: romm
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
