apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: romm-14.27.4
    app.kubernetes.io/instance: romm
    app.kubernetes.io/name: romm
    helm-revision: "1"
    release: romm
  name: romm-resources
  namespace: romm
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
