apiVersion: v1
kind: Secret
metadata:
  labels:
    app: romm-14.27.4
    app.kubernetes.io/instance: romm
    app.kubernetes.io/name: romm
    helm-revision: "1"
    release: romm
  name: romm-rediscreds
  namespace: romm
stringData:
  plain: romm-redis
  plainhost: romm-redis
  plainhostpass: :PLACEHOLDERPASSWORD@romm-redis
  plainporthost: romm-redis:6379
  redis-password: PLACEHOLDERPASSWORD
  url: redis://:PLACEHOLDERPASSWORD@romm-redis:6379/0
type: Opaque
