apiVersion: v1
kind: Service
metadata:
  labels:
    app: mariadb-17.11.16
    app.kubernetes.io/instance: romm
    app.kubernetes.io/name: mariadb
    helm-revision: "1"
    release: romm
    service.name: main
  name: romm-mariadb
  namespace: romm
spec:
  ports:
    - name: main
      port: 3306
      protocol: TCP
      targetPort: 3306
  publishNotReadyAddresses: false
  selector:
    app.kubernetes.io/instance: romm
    app.kubernetes.io/name: mariadb
    pod.name: main
  type: ClusterIP
