apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: allow-certgen-to-kube-apiserver-egress
  namespace: envoy-gateway-system
spec:
  egress:
    - toEntities:
        - kube-apiserver
      toPorts:
        - ports:
            - port: "6443"
              protocol: TCP
  endpointSelector:
    matchLabels:
      job-name: envoy-gateway-helm-certgen
