apiVersion: v1
data:
  envoy-gateway.yaml: |
    apiVersion: gateway.envoyproxy.io/v1alpha1
    kind: EnvoyGateway
    admin:
      address: 0.0.0.0
    envoyProxy:
      provider:
        kubernetes:
          envoyDeployment:
            pod:
              topologySpreadConstraints:
              - labelSelector:
                  matchLabels:
                    app.kubernetes.io/name: envoy
                matchLabelKeys:
                - pod-template-hash
                - gateway.envoyproxy.io/owning-gateway-name
                - gateway.envoyproxy.io/owning-gateway-namespace
                maxSkew: 1
                topologyKey: kubernetes.io/hostname
                whenUnsatisfiable: DoNotSchedule
            replicas: 0
            strategy:
              rollingUpdate:
                maxSurge: 1
                maxUnavailable: 0
          envoyService:
            annotations:
              lbipam.cilium.io/ips: 10.12.0.1
            type: LoadBalancer
        type: Kubernetes
    extensionApis:
      enableBackend: true
      enableEnvoyPatchPolicy: true
    gateway:
      controllerName: gateway.envoyproxy.io/gatewayclass-controller
    logging:
      level:
        default: info
    provider:
      kubernetes:
        deploy:
          type: GatewayNamespace
        rateLimitDeployment:
          container:
            image: docker.io/envoyproxy/ratelimit:3fb70258
          patch:
            type: StrategicMerge
            value:
              spec:
                template:
                  spec:
                    containers:
                    - imagePullPolicy: IfNotPresent
                      name: envoy-ratelimit
        shutdownManager:
          image: docker.io/envoyproxy/gateway:v1.7.0
      type: Kubernetes
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/instance: envoy
    app.kubernetes.io/name: gateway-helm
  name: envoy-gateway-config
  namespace: envoy-gateway-system
