apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token
  namespace: cert-manager
stringData:
  auth: ref+sops:///nix/store/fvdbpgqn25h8fg1kfd2cfq2l5r57jhqv-k8s-secrets.enc.yaml#cloudflare-api-token
type: Opaque
